easyocr==1.7.1
ffmpeg_python==0.2.0
filterpy==1.4.5
matplotlib==3.8.0
numpy==2.1.1
opencv_contrib_python==4.10.0.82
opencv_python==4.10.0.84
pandas==2.2.3
scipy==1.14.1
scikit-image
streamlit==1.39.0
ultralytics==8.2.29
streamlit==1.39.0
